src/index.html
src/index.js
src/index.scss
src/fonts/Oswald-Bold.woff
src/fonts/Oswald-Bold.woff2
src/fonts/Oswald-ExtraLight.woff
src/fonts/Oswald-ExtraLight.woff2
src/fonts/Oswald-Light.woff
src/fonts/Oswald-Light.woff2
src/fonts/Oswald-Medium.woff
src/fonts/Oswald-Medium.woff2
src/fonts/Oswald-Regular.woff
src/fonts/Oswald-Regular.woff2
src/fonts/Oswald-SemiBold.woff
src/fonts/Oswald-SemiBold.woff2
src/img/1.png
src/img/girl.jpg
src/styles/fonts.scss
src/styles/main.scss
src/styles/normalize.scss
node_modules
